---
---

body{
    background-color: #002635;
    color: #ff4427;
    background-image: url('../images/doubleo_dark.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 120px;
}

.markdown-body, .markdown-body p, .markdown-body li {
    color: #ff4427;
}

.markdown-body ul li {
    list-style-image: none;
    list-style-type: disc;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, h1, h2, h3, h4 {
    color: white;
    border: none;
} 

.markdown-body footer{
    margin-top: 2em;
}

.markdown-body table.module{
    border: 2px solid #aaa;
    border-radius: 2em;
    border-collapse: inherit;
    background: rgba(255,255,255,0.05);
    color: inherit;
    display: inline-table;
    width: 44%;
    margin: 0.5em;
    padding: 1em;
}

.markdown-body table.module tr, .markdown-body table.module tr:nth-child(2n){
    background: transparent;
    border: none;
}

.markdown-body table.module th, .markdown-body table.module td{
    border: none;
    background: transparent;
    width: 50%;
    padding: 0.5em;
}
.markdown-body table.module th{
    color: white;
}

